section {
  display: flex;
  &.player, &.computer {
    min-width: 1000px;
    min-height: 180px;
    background: red;
  }
  &.game {
    min-height: 250px;
    min-width: 1000px;
    background: yellow;
  }

}

