section {
  display: flex;
}
section.player,
section.computer {
  min-width: 1000px;
  min-height: 180px;
  background: red;
}
section.game {
  min-height: 250px;
  min-width: 1000px;
  background: yellow;
}
section #deck {
  position: fixed;
  background: green;
  margin-top: 30px;
}
section #deck img {
  position: fixed;
  margin-left: auto;
}
section div.deck1 img,
section div.deck2 img {
  position: fixed;
}
section img.suit {
  transform: rotate(-90deg);
}
section #turn2 {
  position: fixed;
  top: 250px;
}
section #turn1 {
  position: fixed;
  top: 200px;
}
